.navbar {
  background-color: #c40000;
  border-color: #c40000;
  padding-top: 7px;
}
.navbar-logo {
  margin-left: 10px;
}
.navbar-header-title {
  font-size: 12px;
  vertical-align: middle;
  color: whitesmoke;
  margin-left: 10px;
}
.navbar-header-username {
  font-size: 12px;
  vertical-align: middle;
  color: whitesmoke;
}
.navbar-header-linkSignOut {
  font-size: 12px;
  vertical-align: middle;
  color: whitesmoke;
}
.mainContent {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav {
  margin-left: 10px;
}
.loginHeader {
  margin-left: 60px;
}
.leaderboardFilterButton{
  width: 100%;
}
.leaderboardTable {
  margin-top: 20px;
}
.registerButton {
    width:270px;
    height:300px;
    background-image: url("images/businessmanStairs.png");
    background-repeat: no-repeat;
    background-position:bottom;;
    font-size: 1.4em;
    padding-bottom:230px;
    margin-top:10px;
}

.leaderboardfilter{
  font-size: 0.8em;
}
