<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <div>
        <img class="navbar-logo" src="assets/images/spv-logo.png" height="35" />
      </div>
      <div>
        <span class="navbar-header-title">TrappeApp </span>
        {{#if session.isAuthenticated}}
          <span class="navbar-header-username">| {{session.currentUser.name}}</span>
          <a class="navbar-header-linkSignOut" href="#" {{action "signOut"}}>[Logg ut]</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-pills">
  {{#link-to 'registerwalkedstaircase' tagName='li' href=false}}
    {{#link-to 'registerwalkedstaircase'}}Registrer{{/link-to}}
  {{/link-to}}
  {{#link-to 'viewwalkedstaircases' tagName='li' href=false}}
    {{#link-to 'viewwalkedstaircases'}}Historikk{{/link-to}}
  {{/link-to}}
  {{#link-to 'leaderboard' tagName='li' href=false}}
    {{#link-to 'leaderboard'}}Toppliste{{/link-to}}
  {{/link-to}}
</ul>

<div class="mainContent">
  <div id="status" class="collapse alert alert-success">
    <span></span>
  </div>
  {{outlet}}
</div>
