<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <div>
        <img class="navbar-logo" src="assets/images/spv-logo.png" height="35" />
      </div>
      <div>
        <span class="navbar-header-title">TrappeApp </span>
        {{#if session.isAuthenticated}}
          <span class="navbar-header-username">| {{session.currentUser.name}}</span>
          <a class="navbar-header-linkSignOut" href="#" {{action "signOut"}}>[Logg ut]</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Registrer <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Historikk</a></li>
        <li><a href="#">Toppliste</a></li>
        <li><a href="#">Logg ut</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<ul class="nav nav-pills">
  <li class="active">{{#link-to 'registerwalkedstaircase'}}Registrer{{/link-to}}</li>
  <li>{{#link-to 'viewwalkedstaircases'}}Historikk{{/link-to}}</li>
  <li>{{#link-to 'leaderboard'}}Leaderboard{{/link-to}}</li>
</ul>

<div class="mainContent">
  {{outlet}}
</div>
