<li>{{#link-to 'leaderboard' (query-params searchtype="currentWeek")}}Leaderboard - Current week{{/link-to}}</li>
<li>{{#link-to 'leaderboard' (query-params searchtype="currentMonth")}}Leaderboard - Current month{{/link-to}}</li>
<li>{{#link-to 'leaderboard' (query-params searchtype="currentYear")}}Leaderboard - Current year{{/link-to}}</li>

{{#each usersByDaysWalked as |group|}}
  <h3>Users grouped by {{group.property}} {{group.value}} {{group.total}}</h3>
  <ul>
    {{#each group.items as |walkedstaircase|}}
      <li>{{walkedstaircase.dateWalked}}</li>
    {{/each}}
  </ul>
{{/each}}
