<!-- <input type="image" src="assets/images/businessmanStairs.png" {{action 'registerNewWalkedStaircase'}} /> -->


<button class="btn btn-default registerButton" {{action 'registerNewWalkedStaircase'}}>Registrer en trappetur til</button>
