{{bootstrap-datepicker-inline
  format="dd.mm.yy"
  id="newDate"
  todayHighlight=true
  todayBtn=true
  weekStart=1
  autoclose=true
  value= model.dateWalked
}}

<button {{action 'registerNewWalkedStaircase'}}>Registrer en trapp til</button>
