{{session.currentUser.number_of_people}}
Total stairs walked {{session.currentUser.allWalkedStaircasesSortedByDateWalked.length}}
<ul class="nav navbar-nav">
  {{#each session.currentUser.allWalkedStaircasesSortedByDateWalked as |walkedstaircase|}}
    <li>{{walkedstaircase.dateWalked}} <a href="#" {{ action "remove" walkedstaircase }}>x</a> </li>
  {{/each}}
</ul>
