{{#each model as |walkedstaircase|}}
  <li>{{walkedstaircase.created}}</li>
  <li>{{walkedstaircase.dateWalked}}</li>
  <li>{{walkedstaircase.user.id}}</li>
  <li>{{walkedstaircase.user.name}}</li>
{{/each}}
